<?php echo $this->doctype()?>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Lis</title>
    </head>
    <body>
        <hr>
        <?php echo $this->content; ?>
        <hr>
    </body>
</html>